@import url(https://fonts.googleapis.com/css?family=Montserrat:500);


.containers {
	max-width: 120rem;
	margin: 3rem auto;
	padding: 0 2rem 2rem;
}




.photo-gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.6rem 0.8rem 0.8rem rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;

}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.photo-gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.photo-gallery,
	.gallery-item {
		margin: 0;
	}
}



/**
party
*/

body {
	font-family: 'Montserrat', sans-serif;
	background: #f78da7;
  }
  
  *, *::before, *::after {
	box-sizing: border-box;
  }
  
  .honeycomb {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 30svh;
	padding: 0;
	transform: translateY(137.5px);
  }
  
  .honeycomb-cell {
	flex: 0 1 250px;
	max-width: 250px;
	height: 137.5px;
	margin: 64.97619px 12.5px;
	position: relative;
	padding: 0.5em;
	text-align: center;
	z-index: 1;
  }
  
  .honeycomb-cell__title {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	hyphens: auto;
	word-break: break-word;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 1.75em;
	transition: opacity 350ms;
  }
  
  
  
  .honeycomb-cell__image {
	object-fit: cover;
	object-position: center;
  }
  
  .honeycomb-cell::before, .honeycomb-cell::after {
	content: '';
  }
  
  .honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
	top: -50%;
	left: 0;
	width: 100%;
	height: 200%;
	display: block;
	position: absolute;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	z-index: -1;
  }
  
  .honeycomb-cell::before {
	background: #fff;
	transform: scale(1.055);
  }
  
  .honeycomb-cell::after {
	background: #ffb2c5;
	opacity: 0.5;
	transition:  opacity 350ms;
  }
  
  .honeycomb-cell:hover .honeycomb-cell__title {
	opacity: 0;
  }
  
  .honeycomb-cell:hover::before {
	background: #72f88e;
  }
  
  .honeycomb-cell:hover::after {
	opacity: 0;
  }
  
  .honeycomb__placeholder {
	display: none;
	opacity: 0;
	width: 250px;
	margin: 0 12.5px;
  }
  
  @media (max-width: 675px) {
	.honeycomb-cell {
	  margin: 93.75px 12.5px;
	}
  }
  
  @media (min-width: 676px) and (max-width: 1125px) {
	.honeycomb-cell:nth-child(3n) {
	  margin-right: calc(50% - 125px);
	  margin-left: calc(50% - 125px);
	}
	.honeycomb__placeholder:nth-child(3n + 5) {
	  display: block;
	}
  }
  
  @media (min-width: 1126px) and (max-width: 1575px) {
	.honeycomb-cell:nth-child(5n + 4) {
	  margin-left: calc(50% - 275px);
	}
	.honeycomb-cell:nth-child(5n + 5) {
	  margin-right: calc(50% - 275px);
	}
	.honeycomb__placeholder:nth-child(5n),
	.honeycomb__placeholder:nth-child(5n + 3) {
	  display: block;
	}
  }
  
  @media (min-width: 1576px) {
	.honeycomb-cell:nth-child(7n + 5) {
	  margin-left: calc(50% - 400px);
	}
	.honeycomb-cell:nth-child(7n + 7),
	.honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
	  margin-right: calc(50% - 400px);
	}
	.honeycomb__placeholder:nth-child(7n + 7),
	.honeycomb__placeholder:nth-child(7n + 9),
	.honeycomb__placeholder:nth-child(7n + 11) {
	  display: block;
	}
  }
  
/**
flower decor
*/
  
  .flower-wrapper {
	position: relative;
	flex-grow: 1;
	margin: 15svh auto;
	max-width: 1200px;
	max-height: 1200px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2vmin;
	justify-items: center;
	align-items: center;
  }
  
  .flower-wrapper IMG {
	z-index: 1;
	grid-column: span 2;
	max-width: 100%;
	margin-bottom: -52%;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	transform: scale(1);
	transition: all .25s;
	
	&:nth-child(7n + 1) {
	  grid-column: 2 / span 2;
	}
	
	&:hover {
	  z-index: 2;
	  transform: scale(2);
	}
  }
  