@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

body{
	height: 170vh!important;
}

.containers {
	max-width: 130rem;
	margin: 6rem auto;
	padding: 0 2rem 2rem;
}

.photo-gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.6rem 0.8rem 0.8rem rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
	overflow: hidden;
	height: 250px;
    width: 300px;
	

	  &:hover {
	z-index: 2;
	transition: transform 500ms ease-in-out;
	  }
}

.gallery-item:hover {
	transform: scale(1.6);
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}


/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.photo-gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.photo-gallery,
	.gallery-item {
		margin: 0;
	}
}



/**
party
*/

body {
	font-family: 'Montserrat', sans-serif;
	background: #f78da7;
  }
  
  *, *::before, *::after {
	box-sizing: border-box;
  }
  
  .honeycomb {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 30svh;
	padding: 0;
	transform: translateY(137.5px);
  }
  
  .honeycomb-cell {
	flex: 0 1 250px;
	max-width: 250px;
	height: 137.5px;
	margin: 64.97619px 12.5px;
	position: relative;
	padding: 0.5em;
	text-align: center;
	z-index: 1;
  }
  
  .honeycomb-cell__title {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	hyphens: auto;
	word-break: break-word;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 1.75em;
	transition: opacity 350ms;
  }
  
  
  
  .honeycomb-cell__image {
	object-fit: cover;
	object-position: center;
  }
  
  .honeycomb-cell::before, .honeycomb-cell::after {
	content: '';
  }
  
  .honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
	top: -50%;
	left: 0;
	width: 100%;
	height: 200%;
	display: block;
	position: absolute;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	z-index: -1;
  }
  
  .honeycomb-cell::before {
	background: #fff;
	transform: scale(1.055);
  }
  
  .honeycomb-cell::after {
	background: #ffb2c5;
	opacity: 0.5;
	transition:  opacity 350ms;
  }
  
  .honeycomb-cell:hover .honeycomb-cell__title {
	opacity: 0;
  }
  
  .honeycomb-cell:hover::before {
	background: #aece89;
  }
  
  .honeycomb-cell:hover::after {
	opacity: 0;
  }
  
  .honeycomb__placeholder {
	display: none;
	opacity: 0;
	width: 250px;
	margin: 0 12.5px;
  }
  
  @media (max-width: 675px) {
	.honeycomb-cell {
	  margin: 93.75px 12.5px;
	}
  }
  
  @media (min-width: 676px) and (max-width: 1125px) {
	.honeycomb-cell:nth-child(3n) {
	  margin-right: calc(50% - 125px);
	  margin-left: calc(50% - 125px);
	}
	.honeycomb__placeholder:nth-child(3n + 5) {
	  display: block;
	}
  }
  
  @media (min-width: 1126px) and (max-width: 1575px) {
	.honeycomb-cell:nth-child(5n + 4) {
	  margin-left: calc(50% - 275px);
	}
	.honeycomb-cell:nth-child(5n + 5) {
	  margin-right: calc(50% - 275px);
	}
	.honeycomb__placeholder:nth-child(5n),
	.honeycomb__placeholder:nth-child(5n + 3) {
	  display: block;
	}
  }
  
  @media (min-width: 1576px) {
	.honeycomb-cell:nth-child(7n + 5) {
	  margin-left: calc(50% - 400px);
	}
	.honeycomb-cell:nth-child(7n + 7),
	.honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
	  margin-right: calc(50% - 400px);
	}
	.honeycomb__placeholder:nth-child(7n + 7),
	.honeycomb__placeholder:nth-child(7n + 9),
	.honeycomb__placeholder:nth-child(7n + 11) {
	  display: block;
	}
  }
  
/**
flower decor
*/
  
  .gallerys {
	--s: 250px; /* control the size */
	--g: 10px;  /* control the gap */
	--f: 1;   /* control the scale factor */
	margin: 10svh auto;
	display: grid;
	gap: var(--g);
	aspect-ratio: 1;
	width: 100%;
	grid-template-columns: auto auto auto;
  }
  
  .gallerys > img {
	width: 0;
	height: 0;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	cursor: pointer;
	filter: grayscale(60%);
	transition: .35s linear;
  }
  
  .gallerys img:hover{
	filter: grayscale(0);
	width:  calc(var(--s)*var(--f));
	height: calc(var(--s)*var(--f));
  }
  
/**
Ballon decor
*/

.containerss {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 5fr 1fr;    
}

.ull {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

.tab {
    width: calc(10vh + 8px);
    height: calc(10vh + 8px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    z-index: 0;
    transition: width 0.5s;
	top: 2vh;
}

.tab img {
    width: 10vh;
    height: 10vh;
    z-index: 10;
    cursor: pointer;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    transition: width 0.5s;
}

[type=radio] {
    display: none;   
}




[type=radio]:checked ~ label ~ .content{
    text-align: center;
    z-index: 8;
}

[type=radio]:checked ~ label .tab{
    width: 0;
}

.content {
    position: absolute;
    top: 86vh;
    left: 5%;
    width: 90vw;
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content img {
    height: 100vh;
    width: 100vw;  
	
}


/*
Lighting Decor
*/

  .galllery-image {
	margin: 10svh auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .galllery-image img {
	height: 350px;
	width: 450px;
	transform: scale(1.0);
	transition: transform 0.4s ease;
	
  }
  
  .imgs-box {
	box-sizing: content-box;
	margin: 10px;
	height: 350px;
	width: 450px;
	overflow: hidden;
	display: inline-block;
	border-radius: 15px;
	border: 6px solid #aece89;
	color: white;
	position: relative;
	background-color: white;
  }

  .imgs-box:hover img { 
	transform: scale(1.1);
  }
  
  .imgs-box:hover {
	cursor: pointer;
  }




  /*
  theme decor
  */
  
  .wrappers {
	position: relative;
	flex-grow: 1;
	margin: auto;
	max-width: 1200px;
	max-height: 1200px;
	margin-top: 8svh;
	margin-bottom: 8svh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 5vmin;
	justify-items: center;
	align-items: center;
  }
  
  .wrappers IMG {
	z-index: 1;
	grid-column: span 2;
	max-width: 100%;
	margin-bottom: -47%;
	height: 25svh;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	transform: scale(1);
	transition: all .25s;
	
	&:nth-child(7n + 1) {
	  grid-column: 2 / span 2;
	}
	
	&:hover {
	  z-index: 2;
	  transform: scale(1.5);
	}
  }
  
  /*
  outdoor decor
  */

  .bg {
	margin-left: 18%;
	margin-top: 10svh;
	margin-bottom: 10svh;
  }
  
  .bg div {
	display: inline-block;
  }
  
  .bg .image {
	margin: 10px;
  }
  
  .bg .image img {
	width: 420px;
	height: 235px;
	opacity: 70%;
	transition: 0.3s;
  }
  
  .bg .image img:hover {
	opacity: 100%;
	cursor: pointer;
	transform: scale(1.1);
  }
  



  /*
  Indoor decor
  */


.wraps {
    overflow: hidden;
    margin: 10px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
 .boxInner img { width: 100% }


@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
    /* Medium desktop: 4 tiles */
    .box {
        width: 25%;
        padding-bottom: 25%;
    }
}